<h1><%= "Show #{@model.to_s}" %></h1>

<p id="notice"><%= notice %></p>

<%= render 'show' %>

<%= link_to 'Edit', url_for(action: :edit, id: @record) %> |
<%= link_to 'Back', url_for(action: :index) %>
